
# BEGIN WordPress
php_value upload_max_filesize 128M
php_value post_max_size 64M
php_value max_execution_time 900
php_value max_input_time 900
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /bonfire_wooocommerce/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /bonfire_wooocommerce/index.php [L]
</IfModule>

# END WordPress